.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 30%;
}

.score-sub {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 40% 1fr;
}

.fighter {
  display: grid;
  grid-template-rows: 20% auto;

  .fighter-name {
    font-size: 6em;
    text-align: center;
  }
  input {
    font-size: 1em;
    text-align: center;
  }
  .fighter-points {
    place-self: center;
    font-size: 42.2em;
    line-height: 1em;
  }  
}

.fighter__info {
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

.fighter1 {
  background-color: $fighter1-c-b;
  color: $fighter1-c-t;

}

.fighter2 {
  background-color: $fighter2-c-b;
  color: $fighter2-c-t;

}

.sub-fighter {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center;
  &1 {
    background-color: $fighter1-c-b;
  }

  &2 {
    background-color: $fighter2-c-b;
  }
}

.adv, .fau {
  font-size: 11em;
  padding: 0 .3em;
}

.adv {
  color: $adv-c;
}

.fau {
  color: $fau-c;
}

.chronometer {
  background-color: $chronometer-c-b;
  color: $chronometer-c-t;
  font-size: 14em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}