@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


$control-h: 110px;
$control-c-b: #CCCCCC;



$btn-c: #444;
$btn-c-b: #DDDDDD;
$btn-c-b__h: #BBBBBB;
$btn-c-border:  RGBA(200, 200, 200, 1);

$fighter1-c-b: #E8F6FF;
$fighter1-c-t: #3E4F76;
$fighter2-c-b: #8CB5FF;
$fighter2-c-t: #1E2536;

$adv-c: #2FE605;
$fau-c: #CA0040;

$chronometer-h: 120px;
$chronometer-w: 40%;
$chronometer-m-l: (100% - $chronometer-w) / 2 ;
$chronometer-c-t: #ffffff;
$chronometer-c-b: #000000;
$chronometer-p-bot: $control-h;

$chronometer-h-mob-port: 1020px;




* {
  padding: 0;
  margin: 0;
}

html, body{

    font-size: 10px;
    font-family: Rubik;
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

}


.scoreboard {
  display: flex;
  flex-grow: 1;
  font-family: 'Roboto Mono', monospace;
  flex-wrap: wrap;

}

.fighter {
  display: flex;
  width: 50%;
  align-content: flex-start;
}


.fighter-points {
  width: 100%;
  text-align: center;
  font-size: 42.2em;
  line-height: 1em;

}

.fighter1 {
  background-color: $fighter1-c-b;
  color: $fighter1-c-t;

}

.fighter2 {
  background-color: $fighter2-c-b;
  color: $fighter2-c-t;

}

.score-sub {
  width: 100%;
  display: flex;
  background-color: gray;
  flex: 1;
  div {
    flex-basis: 33.333%;
  }
}

.sub-fighter {
  display: flex;

  &1 {
    background-color: $fighter1-c-b;
  }

  &2 {
    background-color: $fighter2-c-b;
  }



}

.adv, .fau {
  font-size: 11em;
  padding: 0 .3em;
}

.adv {
  color: $adv-c;
}

.fau {
  color: $fau-c;
}


.chronometer {
  background-color: $chronometer-c-b;
  color: $chronometer-c-t;
  font-size: 10em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  flex-basis: 40%;

}


.controls {
  background-color: $control-c-b;
  height: $control-h;
  display: flex;
}

.control-1, .control-2, .control-chronometer {
  flex-grow: 1;
}

.minus, .plus {
  width:100%;
  height: 50%;
  display: flex;

}

.control-chronometer {
  display: flex;
  flex-grow: 1 ;
  padding: 15px;

}

.min, .reset, .play-pause {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: blue;
  align-sef: center;

  .btn {
    line-height: 1.4em;
    width: 100%;
    flex: 1;
    padding: 5px;
    align-sef: center;
  }

}

.btn {
  flex-grow: 1;
  font-size: 1.4em;
  align-self: center;
  text-align: center;
  border: 1px solid $btn-c-border;
  margin: 0 4px;
  padding: 10px 0;
  background-color: $btn-c-b;
  color: $btn-c;
  cursor: pointer;
}

.btn:hover {
  background-color: $btn-c-b__h;
}


/* Smartphones and Tablets (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) and (orientation:portrait) {


.controls {
  height: $chronometer-h-mob-port;
  flex-direction: column;
}

.btn {
  font-size: 4em;
  padding: 20px;
}


}

/* Smartphones and Tablets (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) and (orientation:landscape) {


}
