$control-h: 180px;
$control-c-b: #CCCCCC;

$btn-c: #444;
$btn-c-b: #DDDDDD;
$btn-c-b__h: #BBBBBB;
$btn-c-border:  RGBA(200, 200, 200, 1);

$fighter1-c-b: rgb(255, 255, 255);
$fighter1-c-t: #1E2536;
$fighter2-c-b: rgb(230, 230, 230);
$fighter2-c-t: rgb(9, 114, 78);

$adv-c: #2FE605;
$fau-c: #CA0040;

$chronometer-h: 120px;
$chronometer-w: 40%;
$chronometer-m-l: (100% - $chronometer-w) / 2 ;
$chronometer-c-t: #ffffff;
$chronometer-c-b: #000000;
$chronometer-p-bot: $control-h;
$chronometer-h-mob-port: 1020px;
